@model WebApplication1.Models.QuiSommeNous.ArticlePresentation.Section

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />
<link href="/css/CrudTable/style.css" rel="stylesheet" />




<div class="CardContainer">
    <div class="CardSection">
        <div class="Inputsbody">
            <h1 style="position:center">Supprimer la Section</h1>
            <div class="form__group field">
                <div class="Imgcontainer">
                    <div class="wrapper">
                        <div class="image">
                            <img id="Image" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Image)" alt="">
                        </div>
                        <div class="content">
                            <div class="icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </div>
                            <div class="text">
                                No file chosen, yet!
                            </div>
                        </div>
                        <div id="cancel-btn">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__group field">
                <input asp-for="Text" type="text" class="form__field" placeholder="Text Sur l'image" disabled />
                <label for="name" class="form__label">Text Sur l'image</label>
            </div>
            <div class="form__group field">
                @{ var count = @Model.ListOfParagraphs.Count().ToString();}
                <input  type="text" class="form__field" value="@count" placeholder="Nombre de parragraphs" disabled/>
                <label for="name" class="form__label">Nombre de parragraphs</label>
            </div>
            <div class="form__group field">
                <h3>Etes-vous sur de voulpir supprimer cette Section?</h3>
                <div>
                    <form asp-action="Delete">
                        <input id="submit" type="submit" asp-for="Id" asp-route-id="@Model.Id" value="@Model.Id "  hidden/>
                        <button  value="Supprimer" class="btn btn-danger">Supprimer</button>
                        <a asp-action="Index" asp-controller="PresentationCrud">Retourner a la liste des Section</a>
                    </form>
                </div>
                <label></label>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn').click(function () {
        $('#submit').click();
    });
</script>