@model IQueryable<WebApplication1.Models.QuiSommeNous.ArticlePresentation.Section>

<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />

<link rel="stylesheet" href="~/css/CrudTable/style.css">




<div class="CardContainer">
    <div class="CardSection">
        <div class="Tablecontainer">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Liste des Section</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th> Text Sur l'image</th>
                                    <th>Nombre De Paragraph</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img">
                                            <img class="img" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" />
                                        </div>
                                    </td>
                                    <td>@item.Text</td>
                                    <td>@item.ListOfParagraphs.Count()</td>
                                    <td class="status"><button value="@item.Id" class="btn mb-3 mr-3 btn-success btn-Modifier"><span class="text">Modifier la section</span></button></td>
                                    <td class="status"><button value="@item.Id" class="btn mb-3 mr-3 btn-danger btn-Supprimer"><span class="text">Supprimer la section</span></button></td>
                                    <td class="status"><button value="@item.Id" class="btn mb-3 mr-3 btn-primary btn-Geree"><span class="text">Gerer les  paragraph</span></button></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <button id='NouvelleSlideButton'   class="btn mb-3 mr-3 btn-success "><span class="text">Nouvelle Section</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

        $('#NouvelleSlideButton').click(function () {
            document.location = '@Url.Action("Create", "PresentationCrud")';
         });


        //get clicked button value and send to view with id of clicked item
        $(".btn-Modifier").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("Edit", "PresentationCrud", new {id = "ID"})'.replace("ID", clicked_button.attr("value"));
        });


        $(".btn-Supprimer").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("Delete", "PresentationCrud" , new {id = "ID"})'.replace("ID", clicked_button.attr("value"));
        });

        $(".btn-Geree").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("IndexParagraph", "PresentationCrud" , new {id = "ID"})'.replace("ID", clicked_button.attr("value"));
        });
</script>
