@model IQueryable<WebApplication1.Models.Contact_Us.Location>

<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />

<link rel="stylesheet" href="~/css/CrudTable/style.css">




<div class="CardContainer">
    <div class="CardSection">
        <div class="Tablecontainer">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 style="font-size:50px" class="heading-section">Liste des Localization</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Longitude</th>
                                    <th>Latitude</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr class="alert" role="alert">
                                    <td>@item.Name</td>
                                    <td>@item.Longitude</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Description</td>
                                    <td class="status"><button value="@item.Id" class="btn mb-3 mr-3 btn-primary btn-Modifier"><span class="text">Modifier</span></button></td>
                                    <td class="status"><button value="@item.Id" class="btn mb-3 mr-3 btn-danger btn-Supprimer"><span class="text">Supprimer</span></button></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <button id='NouvelleSlideButton'   class="btn mb-3 mr-3 btn-success "><span class="text">Nouvelle Location</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

        $('#NouvelleSlideButton').click(function () {
            document.location = '@Url.Action("Create","LocationCrud")';
         });


        //get clicked button value and send to view with id of clicked item
        $(".btn-Modifier").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("Edit", "LocationCrud" , new {id = "ID"})'.replace("ID", clicked_button.attr("value"));
        });


        $(".btn-Supprimer").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("Delete", "LocationCrud" , new {id = "ID"})'.replace("ID", clicked_button.attr("value"));
        });
</script>
