<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />

<link rel="stylesheet" href="~/css/Admin/AminIndex/AdminIndex.css" />




<div class="CardContainer">
    <div class="CardSection" style="background-color:black;border:0px;" >
        <div class="Page-Body">
            <h1 style="font-size:50px;color:white;">Getion Des Pages</h1>
            <main class="page-content">
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Home Page</h2>
                        <p class="copy">Ajouter Titre,Description et Imgae d'un Slide a la page Home</p>
                        <button id="Home" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Presentation Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Presentation" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Members Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Members" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Notre Mission Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Mission" class="btn">Gree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Projects Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les Project</p>
                        <button id="Projects" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Partenaires Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les partenaires</p>
                        <button id="Partners" class="btn">geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Calendrier</h2>
                        <p class="copy">Ajouter , Modifier et supprimer les Event Calendar</p>
                        <button id="Calendar" class="btn">gree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Journal</h2>
                        <p class="copy">Ajouter , Modifier et supprimer la list des journals</p>
                        <button id="Journal" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="titleCard">Localization Page</h2>
                        <p class="copy">Localization page</p>
                        <button id="Location" class="btn">Geree</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<script>


      $('#Home').click(function () {
        document.location = '@Url.Action("Index","HomeCrud")';
      });

     $('#Presentation').click(function () {
        document.location = '@Url.Action("Index", "PresentationCrud")';
     });

    $('#Members').click(function () {
        document.location = '@Url.Action("Index", "MembersCrud")';
    });

    $('#Mission').click(function () {
        document.location = '@Url.Action("Index", "NotreMissionCrud")';
    });
    $('#Projects').click(function () {
        document.location = '@Url.Action("Index", "ProjectsCrud")';
    });
    $('#Partners').click(function () {
        document.location = '@Url.Action("Index", "PartnersCrud")';
    });
     $('#Location').click(function () {
        document.location = '@Url.Action("Index", "LocationCrud")';
     });
     $('#Calendar').click(function () {
        document.location = '@Url.Action("Index", "CalendarEventCrud")';
     });
     $('#Journal').click(function () {
        document.location = '@Url.Action("Index", "JournalCrud")';
    });
</script>