<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />

<link rel="stylesheet" href="~/css/Admin/AminIndex/AdminIndex.css" />


<div class="CardContainer">
    <div class="CardSection">
        <div class="Page-Body">
            <main class="page-content">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Home Page</h2>
                        <p class="copy">Ajouter Titre,Description et Imgae d'un Slide a la page Home</p>
                        <button id="Home" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Presentation Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Presentation" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Members Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Members" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Notre Mission Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les section de la page</p>
                        <button id="Mission" class="btn">Gree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Projects Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les Project</p>
                        <button id="Projects" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Partenaires Page</h2>
                        <p class="copy">Ajouter , Modifier et suprimer les partenaires</p>
                        <button id="Partners" class="btn">geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Explore The Galaxy</h2>
                        <p class="copy">Seriously, straight up, just blast off into outer space today</p>
                        <button class="btn">Book Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Explore The Galaxy</h2>
                        <p class="copy">Seriously, straight up, just blast off into outer space today</p>
                        <button class="btn">Book Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Calendrier</h2>
                        <p class="copy">Ajouter , Modifier et supprimer les evenements de calendrier</p>
                        <button id="Calendar" class="btn">gree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Explore The Galaxy</h2>
                        <p class="copy">Seriously, straight up, just blast off into outer space today</p>
                        <button class="btn">Book Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Localization Page</h2>
                        <p class="copy">Localization page</p>
                        <button id="Location" class="btn">Geree</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Explore The Galaxy</h2>
                        <p class="copy">Seriously, straight up, just blast off into outer space today</p>
                        <button class="btn">Book Now</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<script>


      $('#Home').click(function () {
        document.location = '@Url.Action("Index","HomeCrud")';
      });

     $('#Presentation').click(function () {
        document.location = '@Url.Action("Index", "PresentationCrud")';
     });

    $('#Members').click(function () {
        document.location = '@Url.Action("Index", "MembersCrud")';
    });

    $('#Mission').click(function () {
        document.location = '@Url.Action("Index", "NotreMissionCrud")';
    });
    $('#Projects').click(function () {
        document.location = '@Url.Action("Index", "ProjectsCrud")';
    });
    $('#Partners').click(function () {
        document.location = '@Url.Action("Index", "PartnersCrud")';
    });
     $('#Location').click(function () {
        document.location = '@Url.Action("Index", "LocationCrud")';
     });
     $('#Calendar').click(function () {
        document.location = '@Url.Action("Index", "CalendarEventCrud")';
    });
</script>