@model IQueryable<WebApplication1.Models.QuiSommeNous.ArticlePresentation.Section>

<link rel="stylesheet" href="~/QuiSommeNous/Presentation/Style.css" />
<script src="~/QuiSommeNous/Presentation/script.js"></script>


<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />

<div class="CardContainer">
    <div class="CardSection">
        <div id="parallax-world-of-ugg">



            <section>
                <div class="title">
                    <h1>Presentation</h1>
                </div>
            </section>





            @foreach (var sectionm in Model)
            {

                <section>
                    <div class="parallax-one" style="background-image:url(data:image/jpeg;base64,@Convert.ToBase64String(sectionm.Image))">
                        <h2>@sectionm.Text</h2>
                    </div>
                </section>

                <section>
                    <div class="block">
                        @for (int i = 0; i < sectionm.ListOfParagraphs.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <p><span class="first-character sc">@sectionm.ListOfParagraphs[i].ParagraphContent.ElementAt(0)</span>@sectionm.ListOfParagraphs[i].ParagraphContent.Remove(0, 1)</p>
                            }
                            if (i == 1)
                            {
                                <p class="margin-top-10">@sectionm.ListOfParagraphs[i].ParagraphContent</p>
                            }
                            else
                            {
                                <p>@sectionm.ListOfParagraphs[i].ParagraphContent</p>
                            }
                        }
                    </div>
                </section>




            }





            </div>
        </div>
</div>


